
.schedule-rows{
    height: 15vh;
}

table td:hover {
    background-color: rgba(148, 148, 148, 0.075);
    cursor: pointer;
}

.container {
    margin-bottom: 5vh;
}

tr .actual_day {
    border-style: solid;
    border-width: 0.3vh;
    border-color: red;
}