:root {
  --primary-light: #9046ff;
  --danger-light: #ff8a8a;
  --danger: #fc5d5d;
  --primary: #5a2ca0ff;
  --secondary: rgba(255, 204, 0, 0);
  --danger-dark: #ff0000ff ;
  --primary-dark: rgb(63, 31, 112);
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #969fb6;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  background: var(--greyLight-1);
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--greyLight-1);
}
.container {
  min-height: 90vh;
  min-width: 100%;
  padding: 50vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.components {
  width: 65rem;
  min-height: 40rem;
  border-radius: 3rem;
  box-shadow: 
  0.8rem 0.8rem 1.4rem var(--greyLight-2),
  -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: repeat(autofit, -webkit-min-content);
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center;
}
.component {
  min-width: 15rem;
  min-height: 20rem;
  border-radius: 3rem;
  box-shadow: 
  0.8rem 0.8rem 1.4rem var(--greyLight-2),
  -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

/* NAV-BAR */
.nav-component {
  margin: 1%;
  min-width: 98%;
  height: max(18vh, 16rem);
  border-radius: 3rem;
  box-shadow: 
  0.8rem 0.8rem 1.4rem var(--greyLight-2),
  -0.2rem -0.2rem 1.8rem var(--white);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 3rem;
}
.logo {
  padding-left: 3rem;
}
.profile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.profile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.profile-box form{
  height: 4rem;
  width: 4rem;
  margin-inline: 4rem;
}
.username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  font-size: 3rem;
}
.username p {
  margin: 0;
}
.avatar {
  min-width: 100px;
  min-height: 100px;
  /* background-color: var( --greyLight-2); */
}
.logo img{
  width: 15vw;
}

/* SUPPLY */
.component-form {
  min-width: 30rem;
  min-height: min(70vh, 30rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: max(8vh, 4rem);
  border-radius: 3rem;
  box-shadow: 
  0.8rem 0.8rem 1.4rem var(--greyLight-2),
  -0.2rem -0.2rem 1.8rem var(--white);
}
.component-form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
}
.info p {
  color: var(--primary);
  font-size: 1.4rem;
}

/* MAIN */
.container-main {
  margin: 3vh auto;
  min-height: 70vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: max(8vh, 4rem);
}
.component-left {
  min-width: 30rem;
  min-height: min(70vh, 30rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: max(8vh, 4rem);
}
.clock-box {
  padding: 1.5rem;
  min-width: 30rem;
  height: 20rem;
  border-radius: 3rem;
  box-shadow: 
  0.8rem 0.8rem 1.4rem var(--greyLight-2),
  -0.2rem -0.2rem 1.8rem var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.date p {
  color: var(--primary);
  font-size: 3rem;
  font-weight: bolder;
}
.supply {
  min-width: 30rem;
  min-height: max(31vh, 13rem);
  padding: 1.5rem;
  border-radius: 3rem;
  box-shadow: 
  0.8rem 0.8rem 1.4rem var(--greyLight-2),
  -0.2rem -0.2rem 1.8rem var(--white);
}
.component-schedule {
  min-width: 80rem;
  min-height: min(70vh, 30rem);
  border-radius: 3rem;
  box-shadow: 
  0.8rem 0.8rem 1.4rem var(--greyLight-2),
  -0.2rem -0.2rem 1.8rem var(--white);
  padding: 3rem;
}

/*  BUTTONS  */
.btns {
  text-decoration: none;
  border: none;
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btns:hover {
  color: var(--white);
  box-shadow: 0.3rem 0.4rem 0.6rem var(--greyLight-2), -0.2rem -0rem 0.5rem var(--white);
}
.btn__primary {
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btn__danger {
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--danger-dark);
  box-shadow: inset 0.2rem 0.2rem 1rem var( --danger), inset -0.2rem -0.2rem 1rem var(--danger-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
  transition: all .2s ease;
}
.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.btn__secondary {
  background-color: var(--secondary);
  grid-column: 1/2;
  grid-row: 5/6;
  color: var(--greyDark);
  transition: all .2s ease;
}
.btn__secondary:hover {
  color: var(--primary);
}
.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.btns p {
  font-size: 1.6rem;
}
.abtn {
  text-decoration: none;
}

/*  FORM  */
.form {
  grid-column: 3/4;
  grid-row: 3/4;
}
.form__input {
  margin-top: 1rem;
  width: 20.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}
.form__input::-moz-placeholder {
  color: var(--greyLight-3);
}
.form__input:-ms-input-placeholder {
  color: var(--greyLight-3);
}
.form__input::placeholder {
  color: var(--greyLight-3);
}
.form__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.form_title {
  text-align: center;
  color: var(--primary);
  font-size: 3rem;
  font-weight: bolder
}
#delete {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
}
#edit {
  width: 6rem;
  height: 3rem;
}
td {
  background-color: var(--greyLight-1) !important;
  cursor: default !important;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
.week-day {
  color: var(--danger-dark);
}
th {
  font-size: 1.6rem;;
}
